# Project dependencies
# Add libraries like:
# pyzmq
# pandas
# numpy
# scikit-learn
# tensorflow / pytorch (if using deep learning)
# requests (for fetching data)
# schedule (for scheduling tasks)
telethon
pyzmq
unicorn-binance-websocket-api